body {
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* header */

.contacts {
    display: inline-flex;
    align-items: center;
}

.contacts li {
    margin-left: 5px;
}

.contacts span {
    vertical-align: middle;
}

.phone_img {
    height: 21px;
    width: 21px;
    background-color: #103f63;
    border-radius: 15px;
}

.phone_img img {
    display: block;
    margin: auto;
}

.contacts_blue {
    display: inline-flex;
    align-items: center;
    padding: 3px;
    height: 21px;
    background-color: #103f63;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #bfbfbf;
}

.contacts_blue input {
        border-radius: 2px;
        border: none;
}
.men {
    width: 21px;
}

.sub_reg
input,
button {
    background-color: #103f63;
    color: white;
    border: none;
}

.forgot button {
    background-color: #103f63;
    color: #bfbfbf;
    border: none;
    text-decoration: underline;
}

.sub_reg input {
    border-right: 1px solid white;
}

.home_net_mail {
    display: inline-flex;
    padding: 3px;
    border: 1px solid #bdc3c7;
    border-radius: 12px;
}

.home_net_mail li {
    margin: auto 2px;
}
/* top */

.top img {
    width: 1020px;
    margin-top: 20px;
}

.main_nav {
    display: flex;
    align-items: center;
    height: 40px;
    background: linear-gradient(to top, #0c0d0f 67%, #505860 95%, #0c0d0f 100%);
    border-radius: 7px;
    margin-top: 4px;
    box-shadow: 2px 3px 5px #bfbfbf;
}

.main_nav ul {
    display: flex;
    margin-left: 40px;
}

.main_nav li {
    margin-left: 30px;
}

.main_nav a {
    color: #b1bcc0;
    text-decoration: none;
    padding: 8px;
    border-radius: 14px;
}

.main_nav a:hover {
    background: linear-gradient(to top, #092137, #1e6382);
    color: white;
}

.basket {
    align-items: center;
}

.basket img {
    margin-bottom: 18px;
    width: 15px;
}

.basket li {
    margin-left: 15px;
    color: #b1bcc0;
}

#goods,
#suma {
    color: #0d5a8f;
    width: 21px;
    margin-left: 5px;
}
/* top_forms search */
    /* search for avto */

    .avto {
        border: 1px solid black;
        border-radius: 10px;
        padding-left: 15px;
        margin-top: 10px;
        box-shadow: 2px 2px 5px gray;
    }

    .avto span {
        margin-left: 5px;
    }

    .title {
        display: flex;
        justify-content: space-between;
    }

    .title span {
        margin: 2px 15px;
        color: #154467;
    }

    .name_search {
        display: flex;
        flex-direction: row;
    }

    .name {

    }

    .option {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    .option select {
        margin: 3px 0;
    }

    /* size of select */

    .big {
        width: 90px;
    }

    .small {
        width: 40px;
    }
        /* color text in frame */

        .dark {
            color: black;
            font-weight: bold;
        }

        .grey {
            font-weight: bold;
            color: #9ba5aa;
        }

/* bar */


/* bottom */


/* footer */
