body {
    background: url(../img/bodyfone.png);
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
}

.clearfix :after {
    content: '';
    clear: both;
    display: block;
}

/*HEADER*/

.header {
    height: 439px;
    background-color: white;
}

.logo {
    float: left;
}

.contacts {
    margin: 10px 30px;
    float: right;
    font-family: sans-serif;
    color: #2AACC3;
}

.countries {
    margin: 5px 30px;
    clear: right;
    float: right;
}

/*flag_link*/

.flag {
    display: inline-flex;
}

.flag li {
    margin-right: 15px;
}

.flag li img {
    display: block;
    margin: auto;
}

.flag li a {
    display: block;
    font-size: 11px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #2AACC3;
}

.main_img {
    margin-top: 1px;
    margin-bottom: -3px;
}

.main_img img {
    width: 100%;
    border-top: 2px solid #138AA7;
    border-bottom: 2px solid #138AA7;
}

/*drop-down menu*/

.ul_main_menu {
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
    background-color: black;
    height: 25px;
}

.li_main_menu {
    /* float: left; */
    position: relative;
}

.li_main_menu>p {
    /* margin: 0 35px; */
    color: white;
}

.submenu {
    display: none;
    background-color: black;
    position: absolute;
    left: 40px;
    top: 20px;
}

.submenu li p {
    color: white;
    margin: 10px;
}

.ul_main_menu>li:hover ul.submenu {
    display: block;
}

.li_main_menu p:hover {
    height: 17px;
}

.submenu li p:hover {
    text-decoration: underline;
}

/*end drop-down menu*/

/* WRAPPER */

.wrapper {
    display: flex;
    /* overflow: hidden;
    min-height: 500px; */
}

/*SIDEBAR*/

.sidebar {
    width: 25%;
    padding: 15px;
    border-right: 2px solid #c7cacf;
    background-color: #edeef0;
    /* box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 15px;
    border-right: 2px solid #c7cacf;
    background-color: #edeef0;
    margin-bottom: -20000px;
    padding-bottom: 20000px; */
}

.sidebar h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    font-family: sans-serif;
}

/*NEWS*/

.news {
    width: 25%;
    padding: 15px;
    border-left: 2px solid #c7cacf;
    background-color: #edeef0;
    /* box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 15px;
    border-left: 2px solid #c7cacf;
    background-color: #edeef0;
    margin-bottom: -20000px;
    padding-bottom: 20000px; */
}

.news h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    font-family: sans-serif;
}

/*CONTENT*/

.content {
    width: 50%;
    padding: 15px;
    background-color: white;
    min-height: 500px;
/* box-sizing: border-box;
float: left;
width: 50%;
min-height: 1000px;
padding: 15px;
background-color: white;
margin-bottom: -20000px;
padding-bottom: 20000px; */
}

/* FOOTER */

.footer p {
    text-align: center;
    padding-top: 5px;
    height: 25px;
    color: white;
}
