<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <script type="text/html" id='tmplid'>
            <div class="container">
            <h1 class="headline_1"><%= userName %></h1>
            <img class="container_img" src="" alt="">
            <p class="text-on-page"><%= myProfession %></p>
            <h2 class="headline_2">Мои увлечения</h2>
            <ul class="list">
                <li class="item"><%= firstHobby %></li>
                <li class="item"><%= secondHobby %></li>
                <li class="item"><%= thirdHobby %></li>
            </ul>
            <hr>
            <h2 class="headline_2">Мой контактный телефон</h2>
            <p class="text-on-page"><%= myTelefon %></p>
            <h2>Мой профиль в социальной сети</h2>
            <a href="#"><%= mySite %></a>
            <br>
            <h2 class="headline_2">Мое пожелание Вам</h2>
            <p class="text-on-page"><%= myDesire %></p>
            </div>
        </script>
        <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/template.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
