<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Intertsting test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="css/style.css">
        <!-- connection jquery -->
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <!-- connection JS -->
        <script src="js/ask.js"></script>
        <script src="js/tmpl.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <script type="text/html" id="testTmpl">
              <div class="wrapper_test">
                <button class="btn btn-outline-secondary" type="button" name="button" id="addQuestion">+</button>
                <h1>Интересный тест</h1>
                <ul>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <li>
                            <%= data[i].qu %></br>
                            <label><input type="radio" name='answer<%=i%>' value=<%= data[i].answ0 %> num = 0 ><%= data[i].answ0 %></label></br>
                            <label><input type="radio" name='answer<%=i%>' value=<%= data[i].answ1 %> num = 1><%= data[i].answ1 %></label></br>
                            <label><input type="radio" name='answer<%=i%>' value=<%= data[i].answ2 %> num = 2><%= data[i].answ2 %></label></br>
                        </li>
                        <%  }; %>
                </ul>
                <button class="btn btn-outline-secondary" type="button" name="button" id="check">проверить результат теста</button>
              </div>
            </script>
        </div>
        <!-- <div class="modalBgrnd">
          <div class="modalWin">
            <p class="modalHeader">Добавьте вопрос, варианты ответа и не забудьте отметить правильный</p>
            <input type="text" name="" value placeholder ="Запишите свой вопрос" class="inputQuestion">
            <label>
              <input class="answerRadio" type="radio" name="ans" value="" accord="recipient1">
                <input type="text" name="" value placeholder ="Запишите сюда первый ответ" class="answerText" accord='sender1'></input>
              </input>
            </label>
            <label>
              <input class="answerRadio" type="radio" name="ans" value="">
              <input type="text" name="" value placeholder ="Запишите сюда второй ответ" class="answerText"></input></label>
              </input>
            <label>
              <input class="answerRadio" type="radio" name="ans" value="">
              <input type="text" name="" value placeholder ="Запишите сюда третий ответ" class="answerText"></input>
              </input>
            </label>
              <button class="insert btn btn-outline-success" type="button" name="button">Добавить вопрос</button>
              <button class="cancel btn btn-outline-danger" type="button" name="button">Отменить</button>
          </div>
        </div> -->
    </body>
</html>
